*{
  @include font-smoothing();
}

html{
  box-sizing: border-box;
  height: 100%;
}

body{
  box-sizing: border-box;
  min-height: 100%;
  position: relative;
}

pre,
code,
samp,
kbd{
  @include fs-xsmall();
  border: 1px solid $gray4;
  color: $primary-dark;
  font-family: $monospace;
}

code,
samp,
kbd{
  border-radius: 2px;
  overflow-y: hidden;
  overflow-x: auto;
  padding: 5px 4px 2px 4px;
}

code,
samp,
kbd{
  &.code-block{
    border-radius: 4px;
    display: block;
    padding: 20px;
  }
}

pre{
  border-radius: 4px;
  overflow-y: hidden;
  overflow-x: auto;
  padding: 8px;

  code,
  samp,
  kbd{
    background-color: transparent;
    border: none;
    border-radius: 0;
    padding: 0;
  }
}

a:link{
  color: $link;
}

a:visited{
  color: $link--visited;
}

a:hover,
a:focus{
  color: $link--hover;
}

a:active{
  color: $link--active;
}

img,
video{
  max-width: 100%;
}

hr,
pre{
  margin-bottom: 1.75rem;
}

img{
  margin-bottom: -5px;
}

ol,
ul{
	margin-left: 2rem;
}

ol{
	list-style-type: decimal;
}

ul{
	list-style-type: disc;
}

dt{
	font-style: italic;
}
dd{
	text-indent: 2rem;
}

hr{
  border-top: 1px solid $gray5;
  border-bottom: 1px solid $gray6;
  border-left: none;
  border-right: none;
}

blockquote{
	margin-left: 1.2rem;
	border-left: 3px solid $gray4;
	padding: .9rem 1.2rem;

	p:last-child{
		padding-bottom: 0;
	}
}


figure{
  display: table;
  margin: 0 auto;
  padding-bottom: 1rem;

  img{
    display: table;
    margin: 0 auto;
  }
}

small,
figcaption,
sub,
sup{
  @include fs-small();
}

caption,
figcaption{
  text-align: center;
  font-style: italic;
  padding: .5rem 0;
}

em,
cite,
i{
  font-style: italic;
}

strong,
var,
b{
  font-weight: bold;
}

q{
  &:before{
    content: "'";
  }

  &:after{
    content: "'";
  }

  & > q{
    font-style: italic;
  }
}

dfn,
abbr{
  border-bottom: 1px dotted $gray2;
  cursor: default;
}

sub{
  vertical-align: sub;
}
sup{
  vertical-align: super;
}

table{
  border: 1px solid $gray3;
  border-radius: 2px;
  border-collapse: separate;
  border-spacing: 0;
  margin-bottom: 1.75rem;
  width: 100%;

  th{
    @include fw-bold();
    text-align: left;
  }

  th, td{
    padding: 1rem;
  }

  td{
    @include fs-small();
  }

  tr:nth-child(odd) td{
    background-color: $gray6;
  }
}

input,
label,
select,
button,
textarea
{
  font: inherit;
  resize: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

/* remove yellow from chrome auto-fill background */
input:-webkit-autofill,
textarea:-webkit-autofill,
select:-webkit-autofill {
  color: $gray1;
  -webkit-text-fill-color: $gray1;
  -webkit-box-shadow: 0 0 0px 1000px white inset !important;
}
