@import "variables";

html.grid--is_active{
  background: url(http://basehold.it/i/24) repeat left top;

  @media (min-width: 768px){
    background: url(http://basehold.it/i/30) repeat left top;
  }
}

header{
  background-color: $primary;
  color: $white;
  padding: 1.2rem 1rem;
}

header h4{
  padding: 0;
}

header a{
  &:link,
  &:visited,
  &:hover,
  &:focus,
  &:active{
    color: $white;
    text-decoration: none;
  }
}

nav{
  border-bottom: .1rem solid $gray5;
  padding: 1.2rem 1.5rem 1.1rem;
  text-align: center;
}

nav ul{
  padding: 0;
}

nav li{
  padding: 0 1.5rem;
  display: inline-block;
}

.pattern{
  margin-bottom: 4.8rem;
}

.pattern-description{
  margin-bottom: 2.4rem;
}

.example{
  margin-bottom: 2.4rem;
  padding: 4.8rem 2rem 2.4rem;
  position: relative;

  &:before{
    color: $gray2;
    position: absolute;
    top: 0;
    left: 1rem;
    font-weight: bold;
    content: "EXAMPLE";
  }
}

.color-cube{
  display: block;
  float: left;
  margin-right: 6px;
  margin-bottom: 2.4rem;
  position: relative;
  width: 9.6rem;
  height: 9.6rem;
}

.color-cube.gray1{
  background-color: $gray1;
}

.color-cube.gray2{
  background-color: $gray2;
}

.color-cube.gray3{
  background-color: $gray3;
}

.color-cube.gray4{
  background-color: $gray4;
}

.color-cube.gray5{
  background-color: $gray5;
}

.color-cube.gray6{
  background-color: $gray6;
}

.color-cube.primary{
  background-color: $primary;
}

.color-cube.primary-dark{
  background-color: $primary-dark;
}

.color-cube span{
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: rgba(255, 255, 255, .75);
  padding: 3px 5px;
  font-size: 12px;
  font-weight: bold;
}
.kss-modifier-title{
  color: $gray3;
}
