@import "variables";

header{
  background-color: $primary;
  color: $white;
  padding: 1.2rem;
}

header h4{
  font-size: $font-size--large;
  padding: 0;
}

header a{
  &:link,
  &:visited,
  &:hover,
  &:focus,
  &:active{
    color: $white;
    text-decoration: none;
  }
}

nav{
  border-bottom: 1px solid $gray5;
  margin-top: -1px;
  padding: 1.2rem;
  text-align: center;
}

nav ul{
  padding: 0;
}

nav li{
  padding: 0 1.5rem;
  display: inline-block;
}

.pattern{
  margin-bottom: 4.8rem;
}

.pattern-description{
  margin-bottom: 2.4rem;
}

.example{
  margin-bottom: 2.4rem;
  padding: 4.8rem 2rem 2.4rem;
  position: relative;

  &:before{
    color: $gray2;
    position: absolute;
    top: 0;
    left: 0;
    font-weight: bold;
    content: "EXAMPLE";
  }
}

.f-right{
  float: right;
}

.clearfix{
  overflow: hidden;
}

.wrapper{
  padding: 2.4rem 1rem;
}

.kss-modifier-title{
  color: $gray3;
}
