/*

Buttons

Buttons and their variations

Markup:
<a href="#" class="btn {{modifier_class}}">Button</a>

.btn--small           - Small Button
.btn--large           - Large Button
.btn--outline         - Outlined button
.btn--invisible       - Hardly even a button, but great for alignment
.btn--block           - 100% width with minimal side padding

Styleguide 2.0

*/

.btn{
  @include font-smoothing();
  background-color: $primary;
  border: .2rem solid $primary;
  border-radius: .2rem;
  box-sizing: border-box;
  color: $white;
  cursor: pointer;
  display: inline-block;
  height: 4.3rem;
  line-height: 3.9rem;
  max-width: 100%;
  transition-property: background-color, border-color;
  transition-duration: 200ms;
  margin: 0 auto;
  padding: 0 3rem;
  text-align: center;
  text-decoration: none;
  width: auto;

  &:link,
  &:visited{
    color: $white;
    text-decoration: none;
  }

  &:focus,
  &:hover {
    background-color: $primary-dark;
    border-color: $primary-dark;
    color: $white;
  }

  &:focus{
    outline: 1px dotted $gray3;
  }
}

.btn--small{
  @include fs-small();
  height: 2.9rem;
  line-height: 2.5rem;
  padding: 0 1rem;
}

.btn--large{
  @include fs-large();
  height: 5.3rem;
  line-height: 4.9rem;
  padding: 0 5rem;
}

.btn--outline{
  background-color: rgba(255,255,255, 0);
  border-color: $primary;
  color: $primary;
  transition-property: background-color;

  &:link,
  &:focus,
  &:visited{
    color: $primary;
  }

  &:hover{
    background-color: $primary;
    border-color: $primary;
    color: $white;
  }
}

.btn--invisible{
  border-color: transparent;
  background-color: transparent;
  color: $primary;
  text-decoration: underline;

  &:link,
  &:focus,
  &:visited{
    color: $primary;
  }

  &:hover{
    color: $primary-dark;
    border-color: transparent;
    background-color: transparent;
  }
}

.btn--block{
  width: 100%;
  padding-left: 1rem;
  padding-right: 1rem;
}

[type=button],
[type=submit],
button{
  @extend .btn;
}
