/*

Forms

Markup:
<form>
  <label class="textfield {{modifier_class}}">
    <input type="text" />
    <span class="textfield__label">Name</span>
  </label>
  <label class="radio">
    <input type="radio" name="example" />
    <span class="radio__label">Desktop</span>
  </label>
  <label class="radio">
    <input type="radio" name="example" />
    <span class="radio__label">Mobile</span>
  </label>
  <label class="select {{modifier_class}}">
    <select>
      <option disabled="disabled" selected="selected">Flavors</option>
      <option>Chocolate</option>
    </select>
    <span class="select-label">Favorite Ice Cream</span>
  </label>
  <label class="textfield">
    <textarea></textarea>
    <span class="textfield__label">Comments:</span>
  </label>
  <label class="checkbox {{modifier_class}}">
    <input type="checkbox" />
    <span class="checkbox__label">I Lied</span>
  </label>
  <br/>
  <input type="submit" value="Cross My Heart" />
</form>

Styleguide 3.0

*/

label{
  color: $gray3;
}

.label--side{
  cursor: pointer;
  display: inline-block;
  margin-bottom: .5rem;
  padding: .5rem 1rem .5rem 30px;
  position: relative;
}

.label--top{
  display: block;
  position: relative;
  padding: 1rem 0 1.5rem;
}

.label__label--top{
  @include fs-small()
  background-color: $white;
  position: absolute;
  left: .5rem;
  padding-left: .5rem;
  padding-right: .5rem;
  top: 0;
}

/*

Radio

Markup:
<label class="radio {{modifier_class}}">
  <input type="radio" />
  <span class="radio__label">Radio</span>
</label>

Styleguide 3.1

*/

.radio input[type=radio]{
  opacity: 0;
  position: absolute;
  z-index: $z-index-0;
}

.radio{
  @extend .label--side;

  &:before{
    background-color: #fff;
    border: 2px solid $gray3;
    border-radius: 20px;
    content: '';
    height: 16px;
    left: 0;
    margin-top: -10px;
    position: absolute;
    top: 50%;
    width: 16px;
  }
}

.radio__label{
  color: $gray3;

  &:before{
    border: 1px solid $primary;
    border-radius: 20px;
    content: '';
    height: 18px;
    left: 0;
    margin-top: -10px;
    position: absolute;
    top: 50%;
    visibility: hidden;
    width: 18px;
  }
}

.radio input[type=radio]:focus + .radio__label:before{
  visibility: visible;
}

.radio input[type=radio]:checked + .radio__label{
  &:after{
    background-color: $primary;
    border-radius: 10px;
    content: '';
    height: 10px;
    left: 5px;
    margin-top: -5px;
    position: absolute;
    top: 50%;
    width: 10px;
  }
}

/*

Checkbox

Markup:
<label class="checkbox {{modifier_class}}">
  <input type="checkbox" />
  <span class="checkbox__label">Checkbox</span>
</label>

Styleguide 3.2

*/

.checkbox{
  @extend .label--side;
}

.checkbox input[type=checkbox]{
  opacity: 0;
  position: absolute;
  z-index: $z-index-0;
}

.checkbox .checkbox__label {
  color: $gray3;

  &:before{
    background-color: $white;
    border: 2px solid $gray3;
    border-radius: 2px;
    content: '';
    height: 16px;
    left: 0;
    margin-top: -10px;
    position: absolute;
    top: 50%;
    width: 16px;
  }

  &:after{
    @include icon();
    border: 1px solid transparent;
    border-radius: 2px;
    color: $primary-dark;
    content: '';
    font-size: 14px;
    height: 14px;
    left: 0;
    margin-top: -10px;
    padding: 2px;
    position: absolute;
    top: 50%;
    width: 14px;
  }
}

.checkbox input[type=checkbox]:checked + .checkbox__label {
  &:before{
    border-color: $gray3;
  }

  &:after{
    content: '\f00c';
  }
}

.checkbox input[type=checkbox]:focus + .checkbox__label:after {
  border-color: $primary;
}

/*

Input and text areas

Markup:
<label class="textfield {{modifier_class}}">
  <input type="text" />
  <span class="textfield__label">Input</span>
</label>
<label class="textfield {{modifier_class}}">
  <textarea></textarea>
  <span class="textfield__label">Textarea</span>
</label>

Styleguide 3.3

*/

.textfield {
  @extend .label--top;
}

.textfield:before {
  line-height: inherit;
  position: absolute;
}

.textfield input,
.textfield textarea {
  border: 1px solid $gray3;
  border-radius: 2px;
  box-sizing: border-box;
  padding: 5px;
  width: 100%;
}

.textfield textarea {
  margin-bottom: -5px;
}

.textfield input:focus,
.textfield textarea:focus {
  border-color: $primary;
  outline: none;
}

.textfield input[disabled],
.textfield textarea[disabled] {
  background-color: $gray6;
  color: $gray2;
}

.textfield__label{
  @extend .label__label--top;
}

/*

Select

Markup:
<label class="select {{modifier_class}}">
  <select>
    <option disabled="disabled" selected="selected">Select</option>
    <option>Option 1</option>
    <option>Option 2</option>
    <option>Option 3</option>
  </select>
  <span class="select__label">Select Label</span>
</label>

Styleguide 3.4

*/

.select{
  @extend .label--top;
}

.select select {
  background-color: #fff;
  border: 1px solid $gray3;
  border-radius: 2px;
  box-sizing: border-box;
  padding: 5px;
  width: 100%;
}

.select select:focus{
  border-color: $primary;
  outline: none;
}

.select__label{
  @extend .label__label--top;
}
