@mixin wrapper{
  max-width: 960px;
  margin: 0 auto;
  padding: 2.4rem 1rem;
}

@mixin wrapper--large{
  max-width: 1200px;
  padding: 4.8rem 2rem;
}

@mixin wrapper--small{
  max-width: 640px;
  padding: 1.2rem;
}
